<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.romy.platform.main.community.mapper.CommunityGroupMapper">

    <select id="selectGroupsPermission" resultType="java.lang.String">
        /* selectGroupsPermission : 그룹 생성 권한 조회 */
        SELECT CASE WHEN COUNT(1) <![CDATA[>]]> 0 THEN 'Y' ELSE 'N' END
          FROM PLT_USR D1 
         WHERE D1.DEL_YN    = 'N'
           AND D1.RETIRE_YN = 'N'
           AND D1.USR_CD    = #{session.usrCd}
           AND (
                    LEN(D1.SAP_POSITION_CD) <![CDATA[>]]> 0
                 OR EXISTS ( SELECT 1
                               FROM PLT_USR_ROLE 
                              WHERE ROLE_CD = '00000000000000000000'   /* 시스템 관리자 */
                                AND USR_CD  = #{session.usrCd} )
                 OR EXISTS ( SELECT 1
                               FROM PLT_DEPT_TEAM 
                              WHERE TEAM_LEADER_CD = #{session.usrCd} )
               )
    </select>

    <select id="selectCommunityGroupMenus" resultType="com.romy.platform.main.community.dto.CommunityGroupDto$GroupRes">
        /* selectCommunityGroupMenus : 커뮤니티 그룹 메뉴 조회 */
        SELECT D1.GROUP_CD                                         AS DEPT_CD      /* 그룹코드 */
             , D1.GROUP_NM                                         AS DEPT_NM      /* 그룹명 */
             , 'GROUP'                                             AS FOLDER_GRP   /* 폴더그룹 */
             , 1                                                   AS ORD_MST      /* 정렬순서1 */
             , ROW_NUMBER() OVER(ORDER BY D1.ORD_NUM, D1.GROUP_NM) AS ORD_DTL      /* 정렬순서2 */
             , CASE WHEN D1.REG_USR_CD = #{session.usrCd} THEN 'true'
                    ELSE 'false'
               END                                                 AS ENABLE       /* 활성화여부 */
          FROM PLT_COMMU_GROUP D1 
         INNER JOIN PLT_COMMU_GROUP_USER D2 
            ON D2.GROUP_CD = D1.GROUP_CD
         WHERE D1.DEL_YN = 'N'
           AND D2.USR_CD = #{session.usrCd}
         UNION ALL
        SELECT #{session.usrCd}
             , '내캐비닛'
             , 'MYDOC'
             , 2                AS ORD_MST
             , 1                AS ORD_DTL
             , 'true'
         ORDER BY ORD_MST, ORD_DTL
    </select>

    <select id="selectOrganizationWithUserTree" resultType="com.romy.platform.main.community.dto.CommunityGroupDto$OrgTreeRes">
        /* selectOrganizationWithUserTree : 부서, 사용자 트리구조 조회 */
          WITH DEPT AS
             (
               SELECT DEPT_CD
                    , DEPT_NM
                    , PARENT_DEPT_CD
                    , CAST(RIGHT('0000' + CAST(ORD_NUM AS VARCHAR), 4) AS VARCHAR(255)) AS ORD_STR
                 FROM PLT_DEPT 
                WHERE DEL_YN         = 'N'
                  AND USE_YN         = 'Y'
                  AND LEN(SAP_DEPT_CD) <![CDATA[>]]> 0
        <choose>
            <when test="deptCd != null and deptCd != ''">
                  AND DEPT_CD        = #{deptCd}
            </when>
            <otherwise>
                  AND PARENT_DEPT_CD = '00000000000000000001'
            </otherwise>
        </choose>
                UNION ALL
               SELECT D2.DEPT_CD
                    , D2.DEPT_NM
                    , D2.PARENT_DEPT_CD
                    , CAST(D1.ORD_STR + RIGHT('0000' + CAST(D2.ORD_NUM AS VARCHAR), 4) AS VARCHAR(255)) AS ORD_STR
                 FROM DEPT D1
                INNER JOIN PLT_DEPT D2 
                   ON D2.PARENT_DEPT_CD = D1.DEPT_CD
                WHERE D2.DEL_YN = 'N'
                  AND D2.USE_YN = 'Y'
             )
        SELECT DEPT_CD                 /* 부서코드 */
             , DEPT_NM                 /* 부서명 */
             , ''     AS USER_DEPT_NM  /* 사용자 부서명 */
             , ''     AS SAP_SPOT_NM   /* 직위 */
             , PARENT_DEPT_CD          /* 부모부서코드 */
             , 'DEPT' AS DIV           /* 구분 */
             , ORD_STR                 /* 정렬순서1 */
             , '0'    AS ORD           /* 정렬순서2 */
          FROM DEPT
         UNION ALL
        SELECT D1.USR_CD        /* 사용자코드 */
             , D1.USR_NM        /* 사용자명 */
             , D2.DEPT_NM       /* 사용자 부서명 */
             , D1.SAP_SPOT_NM   /* 직위 */
             , D1.DEPT_CD       /* 부서코드 */
             , 'USER' AS DIV    /* 구분 */
             , D2.ORD_STR       /* 정렬순서1 */
             , D1.SAP_SPOT_CD   /* 정렬순서2 */
          FROM PLT_USR D1 
         INNER JOIN DEPT D2
            ON D2.DEPT_CD = D1.DEPT_CD
         WHERE D1.DEL_YN    = 'N'
           AND D1.RETIRE_YN = 'N'
         ORDER BY ORD_STR, ORD, DEPT_NM
    </select>

    <select id="selectGroupEditPermission" resultType="java.lang.String">
        /* selectGroupEditPermission : 그룹 편집권한 조회 */
        SELECT CASE WHEN D1.REG_USR_CD = #{session.usrCd}
                      OR D2.ADMIN_YN = 'Y' THEN 'Y'
                    ELSE 'N'
               END
          FROM PLT_COMMU_GROUP D1 
          LEFT OUTER JOIN PLT_COMMU_GROUP_USER D2 
            ON D2.GROUP_CD = D1.GROUP_CD
           AND D2.USR_CD   = #{session.usrCd}
         WHERE D1.DEL_YN   = 'N'
           AND D1.GROUP_CD = #{groupCd}
    </select>

    <select id="selectCommunityGroups" resultType="com.romy.platform.main.community.dto.CommunityGroupDto$SearchRes">
        /* selectCommunityGroups : 커뮤니티 그룹 조회 */
        SELECT D1.GROUP_CD                                            /* 그룹코드 */
             , D1.GROUP_NM                                            /* 그룹명 */
             , D1.ORD_NUM                                             /* 정렬순서 */
             , D1.MG_CD                                               /* 사용자그룹코드 */
             , CASE WHEN D1.REG_USR_CD = #{session.usrCd} THEN 'Y'
                    ELSE 'N'
               END                                    AS REORDER_YN   /* 정렬가능여부 */
             , D1.REG_USR_CD                                          /* 등록사용자코드 */
             , CONCAT(D3.USR_NM, ' ', D3.SAP_SPOT_NM) AS REG_USR_NM   /* 등록사용자명 */
          FROM PLT_COMMU_GROUP D1 
          LEFT OUTER JOIN PLT_USR D3 
            ON D3.USR_CD = D1.REG_USR_CD
         WHERE D1.DEL_YN     = 'N'
    <choose>
        <when test="groupCd != null and groupCd != ''">
           AND D1.GROUP_CD   = #{groupCd}
        </when>
        <otherwise>
           AND D1.REG_USR_CD = #{session.usrCd}
        </otherwise>
    </choose>
         ORDER BY D1.ORD_NUM, D1.GROUP_NM
    </select>

    <select id="selectCommunityGroupCount" resultType="java.lang.Integer">
        /* selectCommunityGroupCount : 커뮤니티 그룹 개수 조회 */
        SELECT COUNT(1)
          FROM PLT_COMMU_GROUP 
         WHERE DEL_YN     = 'N'
           AND REG_USR_CD = #{session.usrCd}
    </select>

    <insert id="mergeCommunityGroup">
        /* mergeCommunityGroup : 커뮤니티 그룹 저장 */
         MERGE INTO PLT_COMMU_GROUP TGT
         USING ( SELECT #{groupCd} AS GROUP_CD ) SRC
            ON ( TGT.GROUP_CD = SRC.GROUP_CD )
          WHEN MATCHED THEN
        UPDATE
           SET GROUP_NM = #{groupNm}
        <if test="ordNum != null">
             , ORD_NUM  = #{ordNum}
        </if>
        <include refid="common.sql.updateSystemColumn" />
          WHEN NOT MATCHED THEN
        INSERT
             (
               GROUP_CD   /* 그룹코드 */
             , GROUP_NM   /* 그룹명 */
             , ORD_NUM    /* 정렬순서 */
             , MG_CD      /* 사용자그룹코드 */
        <include refid="common.sql.insertSystemField" />
             )
        VALUES
             (
               #{groupCd}
             , #{groupNm}
             , #{ordNum}
             , #{mgCd}
        <include refid="common.sql.insertSystemValue" />
             ) ;

         MERGE INTO PLT_FOLDER TGT
         USING ( SELECT #{groupCd} AS GROUP_CD ) SRC
            ON
             (
                   TGT.SECTOR_CD  = SRC.GROUP_CD
               AND TGT.FOLDER_GRP = 'GROUP'
               AND TGT.DEL_YN     = 'N'
               AND TGT.PARENT_CD  = 'ROOT'
             )
          WHEN MATCHED THEN
        UPDATE
           SET FOLDER_NM = #{groupNm}
        <include refid="common.sql.updateSystemColumn" />
        ;
    </insert>

    <select id="selectCommunityGroupFolderCnt" resultType="java.lang.Long">
        /* selectCommunityGroupFolderCnt : 커뮤니티 그룹 폴더 개수 조회 */
        SELECT COUNT(1)
          FROM PLT_FOLDER 
         WHERE DEL_YN     = 'N'
           AND FOLDER_GRP = 'GROUP'
           AND PARENT_CD <![CDATA[<>]]> 'ROOT'
           AND SECTOR_CD  = #{groupCd}
    </select>

    <delete id="deleteGroupRootFolder">
        /* deleteGroupRootFolder */
        UPDATE PLT_FOLDER
           SET DEL_YN = 'Y'
         WHERE DEL_YN     = 'N'
           AND FOLDER_GRP = 'GROUP'
           AND PARENT_CD  = 'ROOT'
           AND SECTOR_CD  = #{groupCd}
    </delete>

    <delete id="deleteCommunityGroup">
        /* deleteCommunityGroup : 커뮤니티 그룹 삭제 */
        UPDATE PLT_COMMU_GROUP
           SET DEL_YN = 'Y'
        <include refid="common.sql.updateSystemColumn" />
         WHERE GROUP_CD = #{groupCd}
    </delete>

    <delete id="deleteCommuGroupUserByGroupCd">
        /* deleteCommuGroupUserByGroupCd : 그룹코드 삭제로 인한 대상자 삭제 */
        DELETE
          FROM PLT_COMMU_GROUP_USER
         WHERE GROUP_CD = #{groupCd}
    </delete>

    <select id="selectGroupUsers" resultType="com.romy.platform.main.community.dto.CommunityGroupDto$UserRes">
        /* selectGroupUsers : 그룹 대상자 조회 */
        SELECT D1.GROUP_CD      /* 그룹코드 */
             , D1.USR_CD        /* 사용자코드 */
             , D2.USR_NM        /* 사용자명 */
             , D2.SAP_SPOT_NM   /* 직위 */
             , D3.DEPT_NM       /* 부서명 */
             , D1.ADMIN_YN      /* 관리자여부 */
          FROM PLT_COMMU_GROUP_USER D1 
         INNER JOIN PLT_USR D2 
            ON D2.USR_CD    = D1.USR_CD
          LEFT OUTER JOIN PLT_DEPT D3 
            ON D3.DEPT_CD = D2.DEPT_CD
           AND D3.DEL_YN  = 'N'
           AND D3.USE_YN  = 'Y'
          LEFT OUTER JOIN DIDAS_SAP.dbo.TBL_SAP_ORG_INFO D4
            ON D4.ORG_ID    = D3.SAP_DEPT_CD
           AND D4.ORGNZT_ST = 'P'
         WHERE D2.DEL_YN    = 'N'
           AND D2.RETIRE_YN = 'N'
           AND D1.GROUP_CD = #{groupCd}
         ORDER BY ISNULL(CONVERT(VARCHAR(20), D4.ORG_SEQ), D2.DEPT_CD), D2.SAP_SPOT_CD, D2.USR_NM
    </select>

    <update id="updateCommunityGroupUser">
        /* updateCommunityGroupUser : 커뮤니티 그룹 대상자 수정 */
        UPDATE PLT_COMMU_GROUP_USER
           SET ADMIN_YN = #{adminYn}
        <include refid="common.sql.updateSystemColumn" />
         WHERE GROUP_CD = #{groupCd}
           AND USR_CD   = #{usrCd}
    </update>

    <update id="updateCommunityGroupAdminCnl">
        /* updateCommunityGroupAdminCnl : 커뮤니티 그룹 관리자 취소 */
        UPDATE PLT_COMMU_GROUP_USER
           SET ADMIN_YN = 'N'
         WHERE ADMIN_YN = 'Y'
           AND GROUP_CD = #{groupCd}
           AND USR_CD <![CDATA[<>]]> #{usrCd}
    </update>

    <select id="selectCommuGroupAdminCount" resultType="java.lang.Integer">
        /* selectCommuGroupAdminCount : 커뮤니티 그룹 관리자 수 */
        SELECT COUNT(1)
          FROM PLT_COMMU_GROUP_USER 
         WHERE ADMIN_YN = 'Y'
           AND GROUP_CD = #{groupCd}
    </select>

    <select id="selectGroupUserCount" resultType="java.lang.Integer">
        /* selectGroupUserCount : 그룹 대상자 수 체크 */
        SELECT COUNT(1)
          FROM PLT_COMMU_GROUP_USER 
         WHERE GROUP_CD = #{groupCd}
           AND USR_CD IN
                    <foreach collection="list" item="item" open="(" close=")" separator=",">
                          #{item}
                    </foreach>
    </select>

    <insert id="insertCommunityGroupUsers">
        /* insertCommunityGroupUsers : 커뮤니티 그룹 대상자 생성 */
        INSERT INTO PLT_COMMU_GROUP_USER
             (
               GROUP_CD   /* 그룹코드 */
             , USR_CD     /* 사용자코드 */
        <include refid="common.sql.insertSystemField" />
             )
        VALUES
        <foreach collection="list" item="item" separator=",">
             (
               #{groupCd}
             , #{item}
            <include refid="common.sql.insertSystemValue" />
             )
        </foreach>
    </insert>

    <delete id="deleteCommunityGroupUser">
        /* deleteCommunityGroupUser : 커뮤니터 그룹 대상자 삭제 */
        DELETE
          FROM PLT_COMMU_GROUP_USER
         WHERE GROUP_CD = #{groupCd}
           AND USR_CD IN
                    <foreach collection="list" item="item" open="(" close=")" separator=",">
                          #{item}
                    </foreach>
    </delete>

    <select id="selectCommunityGroupProperty" resultType="com.romy.platform.main.community.dvo.GroupPropertyDvo">
        /* selectCommunityGroupProperty : 커뮤니티 그룹 속성정보 조회 */
        SELECT D1.GROUP_CD                                    /* 그룹코드 */
             , D1.GROUP_NM                                    /* 그룹명 */
             , SUBSTRING(D1.REG_DTT, 1, 8) AS REG_DT          /* 등록일 */
             , D1.REG_USR_CD                                  /* 등록사용자코드 */
             , D2.USR_NM                   AS REG_USR_NM      /* 등록자 */
             , D3.DEPT_NM                  AS REG_DEPT_NM     /* 부서명 */
             , D2.SAP_SPOT_NM              AS REG_SPOT_NM     /* 직위 */
             , D4.USR_CD                   AS ADMIN_USR_CD    /* 관리자 코드 */
             , D5.USR_NM                   AS ADMIN_USR_NM    /* 관리자 성명 */
             , D6.DEPT_NM                  AS ADMIN_DEPT_NM   /* 관리자부서 */
             , D5.SAP_SPOT_NM              AS ADMIN_SPOT_NM   /* 관리자 직위 */
             , CASE WHEN D1.REG_USR_CD = #{session.usrCd}
                      OR D4.USR_CD = #{session.usrCd} THEN 'Y'
                     ELSE 'N'
               END                         AS EDIT_YN         /* 수정여부 */
          FROM PLT_COMMU_GROUP D1 
          LEFT OUTER JOIN PLT_USR D2 
            ON D2.USR_CD    = D1.REG_USR_CD
           AND D2.DEL_YN    = 'N'
          LEFT OUTER JOIN PLT_DEPT D3 
            ON D3.DEPT_CD = D2.DEPT_CD
           AND D3.DEL_YN  = 'N'
          LEFT OUTER JOIN PLT_COMMU_GROUP_USER D4 
            ON D4.GROUP_CD = D1.GROUP_CD
           AND D4.ADMIN_YN = 'Y'
          LEFT OUTER JOIN PLT_USR D5 
            ON D5.USR_CD = D4.USR_CD
           AND D5.DEL_YN = 'N'
          LEFT OUTER JOIN PLT_DEPT D6 
            ON D6.DEPT_CD = D5.DEPT_CD
           AND D6.DEL_YN  = 'N'
         WHERE D1.DEL_YN   = 'N'
           AND D1.GROUP_CD = #{groupCd}
    </select>

</mapper>